div.table-container {
  div.circle {
    height: 14px;
    width: 14px;
    background-color: #ff4081;
    border-radius: 50%;
    display: inline-block;
  }
  table {
    margin-bottom: 10%;
    td.mat-column-estimatedTimeOut {
      mat-icon {
        height: 14px;
        width: 20px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  h1 {
    color: rgba(0, 0, 0, 0.55);
  }
}
