<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Book a wash</mat-card-title>
        </mat-card-header>
        <div mat-card-image>
          <img src="../../assets/pablo-835.png" alt="Illustration" />
        </div>
        <mat-card-actions>
          <a
            mat-flat-button
            color="primary"
            [routerLink]="['/bookings/book-a-wash']"
            >Launch</a
          >
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-3 col-sm-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Manage queue</mat-card-title>
        </mat-card-header>
        <div mat-card-image>
          <img src="../../assets/pablo-835.png" alt="Illustration" />
        </div>
        <mat-card-actions>
          <a
            mat-flat-button
            color="primary"
            [routerLink]="['/management/queue']"
            >Launch</a
          >
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-3 col-sm-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Manage products</mat-card-title>
        </mat-card-header>
        <div mat-card-image>
          <img src="../../assets/pablo-835.png" alt="Illustration" />
        </div>
        <mat-card-actions>
          <a
            mat-flat-button
            color="primary"
            [routerLink]="['/management/products']"
            >Launch</a
          >
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-3 col-sm-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Request a wash</mat-card-title>
        </mat-card-header>
        <div mat-card-image>
          <img src="../../assets/pablo-835.png" alt="Illustration" />
        </div>
        <mat-card-actions>
          <a
            mat-flat-button
            color="primary"
            [routerLink]="['/requests/request-a-wash-landing']"
            >Launch</a
          >
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-3 col-sm-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Manage requests</mat-card-title>
        </mat-card-header>
        <div mat-card-image>
          <img src="../../assets/pablo-835.png" alt="Illustration" />
        </div>
        <mat-card-actions>
          <a
            mat-flat-button
            color="primary"
            [routerLink]="['/management/requests']"
            >Launch</a
          >
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>